services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:2025.11.3
    network_mode: host
    privileged: true # Needed for some integrations like Bluetooth
    restart: unless-stopped
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - mosquitto

  mosquitto:
    container_name: mosquitto
    build:
      context: ./mosquitto
      args:
        - MQTT_USERNAME=${MQTT_USERNAME:-mqttuser}
        - MQTT_PASSWORD=${MQTT_PASSWORD}
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/data:/mosquitto/data

  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:2.7.0
    restart: unless-stopped
    volumes:
      - ./zigbee2mqtt:/app/data
      - /run/udev:/run/udev:ro
    ports:
      - "8080:8080"
    environment:
      - TZ=Europe/Madrid
      - ZIGBEE2MQTT_CONFIG_MQTT_USER=${MQTT_USERNAME:-mqttuser}
      - ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD=${MQTT_PASSWORD}
    devices:
      - ${ZIGBEE_DEVICE:-/dev/ttyACM0}:/dev/ttyACM0
    depends_on:
      - mosquitto

  node-red:
    image: nodered/node-red:4.1
    restart: unless-stopped
    environment:
      - TZ=Europe/Madrid
    ports:
      - "1880:1880"
    volumes:
      - ./node-red/data:/data
    depends_on:
      - homeassistant
      - zigbee2mqtt

  ring-mqtt:
    container_name: ring-mqtt
    image: tsightler/ring-mqtt:5.8.1
    ports:
      - 8554:8554
    volumes:
      - ./ring-mqtt/data:/data
    depends_on:
      - mosquitto
